.nav_list {
    display: flex;
    flex-direction: row;
    gap: 50px;
    color: $secondary;

    @media screen and (max-width: 900px) {
        gap: 35px;
    }

    @media screen and (max-width: 650px) {
        gap: 20px;
    }

    a {
        font-size: 24px;
        font-weight: 500;

        @media screen and (max-width: 900px) {
            font-size: 18px;
            text-transform: uppercase;
        }

        @media screen and (max-width: 650px) {
            font-size: 12px;
        }
    }
}